body {
    color: white;
}

.score {
    height: 120px;
    width: 120px;
    font-size: 70px;
    line-height: 120px;
    margin: 12px;
    display: inline-block;
    text-align: center;
    border: solid 2px darkslategray;
}

.player-bg {
    background-color: darkviolet;
}

.dealer-bg {
    background-color: teal;
}

.stat-font {
    font-size: 20px;
}

.control-button {
    height: 40px;
    width: 90px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.dealer-hide {
    visibility: hidden;
    background-color: cadetblue;
}

.card {
    height: 200px;
    width: 130px;
    background-color: white;
    display: inline-block;
    margin: 5px;
    border: solid black;
}

.cardholder {
    height: 220px;
    width: 880px;
    background-color: burlywood;
    border: black 2px solid;
}

.card-number {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 130px;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    text-align: right;
}

.suit-display {
    height: 80px;
    width: 130px;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    clear: both;
}

.red {
    color: red !important;
}

.black {
    color: black !important;
}

.bg-win {
    background-color: green !important;
}

.bg-loss {
    background-color: red !important;
}

.score-divider {
    width: 300px;
    height: 220px;
    float: left;
}

.card-trans-setup {
position: fixed;
top: 230px;
left: 2675px;
transition-property: all;
transition-duration: 300ms;
transition-delay: 0;
transition-timing-function: cubic-bezier(.11,.61,0,.75);

}

.card-mover {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

#result-display {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    padding-top: 60px;
}